* {
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F3F781;
    width: 1080px;
    margin: 0;
}

/* main styles */
.main {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: flex-start;
    flex-wrap: wrap;
    /* gap: 50px; */
}

.main-content {
    width: 600px;
    height: 100vh;;
    height: auto;
    position: absolute;
    top: 0;
    left: 25%;
    background-color: #F3F781;
    padding: 20px 50px;
}

/* about styles */
.about {
    margin-bottom: 10px;
}

.about-position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    color: #000000;
    margin-bottom: 10px;
}

.about-name {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.22;
    color: #000000;
    margin-bottom: 10px;
}

.about-description{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: #595959;
    width: 550px;
}

/* projects styles */
.projects { 
    margin-bottom: 10px;    
    width: 550px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.125;
    color: #000000;
    margin-bottom: 10px;
}

.projects-list {
    padding: 0;
    margin-left: 15px;
}

.project-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
    color: #000000;
    padding-bottom: 15px;
}

.project, 
.project-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    color: #595959;
}

.project-link {
    margin-left: 10px;
} 

.project-bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    color: #000000;
}


/* work styles */
.work {
    width: 550px;
}

.work-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #000000;
    margin-bottom: 10px;
}

.organization {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #FB6D3A;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #000000;
}

.work-list {
    padding: 0;
    margin-left: 15px;
}

.work-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: #595959;
    width: 550px;
}

/* education styles */
.education {
    width: 550px;
}

.education-position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    color: #000000;
    margin-right: 50px;
}

/* sidebar styles */
.main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
}
.sidebar {
    background-color: #A9F5E1;;
    margin-bottom: 50px;
}

.contact-titel {
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.23;
    margin-bottom: 10px;
}

.photo{
    width: 300px;
    margin-bottom: 10px;
}

.contact-type {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.7;
    color: #000000;
    padding: 0;
    list-style: none;
}

.contact-item {
    list-style: none;
    margin-bottom: 10px;
}

/* .contact-icon {
    width: 24px;
    height: 24px;
    border: none;
    margin-right: 15px;
    fill: #FB6D3A;
} */

.contact-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    color: #000000;
    margin-bottom: 20px;
}

.contact-titel,
.tech-skills,
.soft-skills,
.languages-skills {
    margin-left: 40px;
}

.contact {
    margin-bottom: 15px;
}

.tech-skills {
    margin-bottom: 15px;
}

.skills-list {
    color: #000000;
    padding: 0;
    margin-left: 17px;
}

.skills-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: #000000;
}

.skills-item {
    color: #FB6D3A;
}

.languages-skills {
    padding-bottom: 1200px;
}